body{
    background-image: url(images/background.jpg);
    background-size: cover; /*image covers whole page*/
    background-repeat: no-repeat; /*preventing background from repeating*/
    background-position: center; /*always keeps image at center position*/
    margin: 0; /*remove default margine*/
    height: 100vh; /*makes sure image covers 100% height*/
}

.name{
    text-align: center;
    font-size: 1rem;
    color: #333;
}

nav{
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 0 0 10px 10px;
}

nav a{
    text-decoration: none;
    color: #444;
    font-size: 20px;
    font-weight: 500;
    padding: 8px 14px;
    border-radius: 6px;
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover{
    background-color: #e0f4ff;
    color: #007acc
}

.container{
    display: flex;
    gap: 30px;
    padding: 30px;
    align-items: flex-start;
    flex-wrap: wrap;
}

aside{
    width: 160px;
    padding: 20px;
    border-radius: 10px;
}

aside a{
    display: block;
    text-decoration: none;
    color: #333;
    padding: 10px;
    margin-bottom: 12px;
    border-radius: 6px;
    text-align: center;
    font-weight: 500;
    transition: background-color 0.3s, color 0.3s;
}

aside a:hover{
    background-color: #e0f4ff;
    color: #007acc
}

main{
    flex: 1;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.07);
    min-width: 300px;
}

section:nth-of-type(1) div {
  display: inline-block;
  margin: 10px;
  text-align: center;
}

section:nth-of-type(1) figure img {
  width: 40px;
  height: 40px;
}

section:nth-of-type(1) figcaption {
  font-size: 0.9rem;
  margin-top: 6px;
  color: #444;
}

section:nth-of-type(2) div {
  display: inline-block;
  width: 90px;
  padding: 15px;
  margin: 10px;
  background-color: #f3f9ff;
  border: 1px solid #ddeeff;
  border-radius: 10px;
  text-align: center;
}

section:nth-of-type(2) div p:first-child {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
  color: #007acc;
}

section:nth-of-type(2) div p:nth-child(2),
section:nth-of-type(2) div p:nth-child(3) {
  margin: 2px 0;
  font-size: 0.9rem;
  color: #555;
}

.recipeOne {
  width: 300px;
  max-width: 100%;
  border-radius: 10px;
}
